@model ASPNETProject2.Models.Contractor

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>Contractor</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FirstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="BusinessName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BusinessName" class="form-control" />
                <span asp-validation-for="BusinessName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="City" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="City" class="form-control">
                    <option value="Moncton">Moncton</option>
                    <option value="Riverview">Riverview</option>
                    <option value="Dieppe">Dieppe</option>
                </select>
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TradeID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="TradeID" class="form-control" asp-items="ViewBag.TradeID"></select>
            </div>
        </div>
        @*<div class="form-group">
            <label asp-for="ReviewCount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ReviewCount" class="form-control" />
                <span asp-validation-for="ReviewCount" class="text-danger"></span>
            </div>
        </div>*@
        @*<div class="form-group">
            <label asp-for="AverageRating" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AverageRating" class="form-control" />
                <span asp-validation-for="AverageRating" class="text-danger"></span>
            </div>
        </div>*@
        @* BPoirier: file upload (restrict to .jpg) *@
        <div class="form-group">
            <label for="file" class="col-md-2 control-label">Choose Profile Image</label>
            <div class="col-md-offset-2 col-md-10">
                <input type="file" name="files" multiple class="form-control" accept=".jpg" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

