@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>


<img src="~/images/contact-us-icon.jpg" width="400" />
@*<div class="col-md-3" style="padding-left:0;">*@
<address>
    4 Flanders Court<br />
    Moncton NB   E1C 0K6<br />

</address>

<address>
    <abbr title="Phone"><strong>Phone:</strong>506.858.9696 </abbr><br />
    <strong>Support:</strong> Support@project.com
</address>
</div>

@*<div class="col-md-offset-4">*@

@*</div>*@